
.home-content
    display: flex
    width: 100%
    margin-bottom: 200px

.home-content > img
    flex: 1 1 20%
    height: 40px
    justify-content: flex-start

.menu-bar
    display: flex
    flex: 0 0 20%
    justify-content: flex-end

.menu-bar > .header-menu-bar
    background: #fff
    height: 50px
    width: 50px
    border-radius: 50%
