.discountmsg
    position: absolute
    top: 0
    background: #fdf5a1
    height: 50px
    width: 100%
    display: flex
    align-items: center
    justify-content: center

.box-content-landing
    display: flex
    flex-direction: column
    background-image: url("/images/home-bg.png")
    background-position: center
    background-size: cover
    background-repeat: no-repeat
    height: 90vh
    // width: 100vw
    padding: 100px 10px 50px 0px

.box-content-landing > #modal-modal-description
    display: flex
    justify-content: center
    font-weight: bolder
    color: #FFF
    margin: 0 25% 0 25%

.logo-light
    position: absolute
    bottom: -50px
    right: 20px
    width: 80px
    height: 50px

.filer-part
    margin: 100px
    // position: relative
    // top: -200px
    // width: 100%
    // background-color: #f4e9d3
