
.box-content
    display: flex
    flex: 1 1 60%
    justify-content: center
    // margin-right: 100px

.main-content
    height: 50px
    width: 600px
    background: #fff
    padding: 0 10px 0 10px
    display: flex
    justify-content: center
    align-items: center
    gap: 1rem
    border-radius: 20px
    overflow: hidden
    font-size: 15px

.main-content > img
    width: 45px
    height: 20px

.search-text
    display: flex
    // gap: 1rem

.slanting-line
    width: 2px
    height: 90%
    background: grey
    display: flex

.text-clickable
    cursor: pointer
