
.modal-box-content
    position: relative
    left: 50%
    transform: translate(-50%)
    margin-top: 160px
    width: 700px,
    // height: 400px,
    border-radius: 20px
    background: #fff
    outline: none
    padding: 32px
    // overflow-y: auto

.first-label
    display: flex
    align-items: center
    justify-content: space-between
    margin-bottom: 20px

.input-search-field
    width: 95%
    margin-bottom: 20px

.recent-search-result
    margin-top: 20px
    height: 140px
    overflow-y: auto

.recent-search-result::-webkit-scrollbar
    width: 8px

.recent-search-result::-webkit-scrollbar-thumb
    background-color: lightgrey
    border-radius: 20px

.recent-search-result::-webkit-scrollbar-track
    background-color: #fff
    box-shadow: inset 0 0 5px grey
    border-radius: 20px

.recent-search-result > .recent-search-content
    display: flex
    gap: 1rem
    margin-bottom: 25px

.next-btn
    display: flex
    justify-content: flex-end
    margin-top: 10px

.next-btn > .btn
    width: 100px
    height: 45px
    background: #76882b
    color: #fff
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px
    border-top-left-radius: 15px
    border-bottom-left-radius: 15px
    border-bottom-right-radius: 15px
    border-top-right-radius: 15px
    border-style: hidden
    cursor: pointer

.next-btn > .btn:hover
    background: #424c18
